/* header section */
header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 70px;
  align-items: center;
  z-index: 1;
  position: fixed;
  border-bottom: 1px solid black;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  height: 60px;
  width: 70px;
  margin-right: 11px;
}

.logo span {
  color: MediumAquamarine;}

nav {
  margin-right: 10px;
}

nav a {
  display: inline-block;
  justify-content: flex-end;
  padding: 20px 10px;
  color: black;

}

/* body content */
.leadstory, .story, .ministory, .bites {
  z-index: 2;
  border: 1px solid black;
}

.story {

}
.ministory {

}
